/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/


/* Source Sans Pro
-------------------------------------------------- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sourcesanspro-300.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sourcesanspro-600.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}


/* Links
-------------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
a:hover {
  color: #C4251A;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  height: 101%;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.5em;
  background: #fff;
  color: #222;
}


/* Header
-------------------------------------------------- */

.permanentmailhint {
  margin: 1em;
  position: fixed;
  z-index: 10;
}
.permanentmailhint {
  top: 0;
  right: 0;
}
.permanentmailhint > a {
  display: block;
}
.permanentmailhint > a > img {
  padding-top: 0.5em;
  padding-bottom: .5em
}
@media screen and (min-width: 1200px) {
  main {
    padding-top: 90px
  }
  header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow:
      0 0 20px rgba(0,0,0,0.1),
      0 0 6px rgba(0,0,0,0.1);
  }

/*  header, header .logo-wrap {
    background: #fff;
    position: relative;
    z-index: 20;
  }

  .permanentmailhint {
    top: initial;
    right: initial;
  }
*/
}
.logo {
  display: block;
  margin: 1em;
}
.logo img {
  width: 8em;
}


/* Navigation
-------------------------------------------------- */
.menu a {
  display: block;
  color: #222;
}
.menu a:hover {
  color: #C4251A;
  text-decoration: none;
}
.menu .active {
  color: #C4251A;
}
.menu li {
  list-style: none;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  padding: .5em 1em;
  border-top: 1px solid #ddd;
  font-weight: 600;
}

.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  left: 1em;
}
.submenu:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: -.5em;
  left: 0;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid #222;
}
.submenu li {
  border-bottom: 1px solid #444;
}
.submenu a {
  padding: .5em 1.5em;
  font-size: .9em;
  font-weight: 300;
  color: #fff;
  background: #222;
  white-space: nowrap;
}
.submenu a:hover {
  background: #333;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .logo {
    float: left;
  }
  .menu > li > a {
    padding: .35em 1em;
    border: 0;
  }
  .menu > li:hover .submenu {
    display: block;
  }
}


/* Headings
-------------------------------------------------- */
h1 {
  font-size: 2.2em;
  line-height: 1.25em;
  font-weight: 400;
  margin-bottom: .5em;
}
h2 {
  font-size: 2.6em;
  line-height: 1.25em;
  font-weight: 300;
  margin-top: .5em;
  margin-bottom: .5em;
  text-transform: uppercase;
}
h3 {
  font-size: 1.6em;
  line-height: 1.5em;
  font-weight: 700;
  margin-top: .5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
h4 {
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
  margin-bottom: .5em;
  text-transform: uppercase;
}
h5 {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: .5em;
  margin-top: .5em;
  text-transform: uppercase;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}



/* Main
-------------------------------------------------- */
.main {
  padding-bottom: 1.5em;
  border-bottom: 2px solid #C4251A;
}
.main hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}
.main figure img {
  margin-bottom: 1em;
}
.main a {
  border-bottom: 2px solid #ddd;
}
.main a:hover {
  border-color: #222;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: #C4251A;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
  position: relative;
}
.teaser .overlay section {
  margin-left: 30%;
}
@media screen and (min-width: 1200px) {
  .teaser .overlay section {
    margin-left: initial;
  }
}

/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 6em;
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: #C4251A;
  padding-left: .25em;
}

.box {
  border: 2px solid #000;
  background: #fff;
  padding: 1em;
  margin: 1em 0 2em 0;
}
.box:hover {
  border-color: #C4251A;
}

blockquote {
  display: none;
}
@media screen and (min-width: 1200px) {
  blockquote {
    display: block;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-family: serif;
  }
  blockquote > footer {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
  }
}

.teasertext {
  display: none;
}
@media screen and (min-width: 1200px) {
  .teasertext {
    display: block;
  }
}


input, textarea {
  border: 1px solid #bbb;
  width: 100%;
  font-size: 0.9em;
  padding: 0.3em;
  margin: 0.3em 0;
}
.formblock {
  margin: 0.3em 0;
}
.formblock.checkbox > * {
  width: auto;
}
.formblock.checkbox input {
  margin-right: 0.5em;
}



/* Flexbox [BEGIN] */
.flex {
  display: block;
}
.flex > * {
  max-width: initial;
}

@media screen and (min-width: 1200px) {
  .flex > * {
    flex: 1 1 auto;
    padding: 0 0.5rem;
  }
  .flex > .flex-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .flex > .flex-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .flex > .flex-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flex > .flex-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .flex > .flex-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .flex > .flex-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex > .flex-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .flex > .flex-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .flex > .flex-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flex > .flex-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .flex > .flex-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .flex > .flex-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 2;
  }
  .flex-3 {
    flex: 3;
  }
  .flex-4 {
    flex: 4;
  }
  .flex-5 {
    flex: 5;
  }
  .flex-6 {
    flex: 6;
  }
  .flex-7 {
    flex: 7;
  }
  .flex-8 {
    flex: 8;
  }
  .flex-9 {
    flex: 9;
  }
  .flex-10 {
    flex: 10;
  }
  .flex-11 {
    flex: 11;
  }
  .flex-12 {
    flex: 12;
  }
  .flex-start {
    justify-content: flex-start;
  }
  .flex-end {
    justify-content: flex-end;
  }
  .flex-center {
    align-items: center;
  }
  .flex-baseline {
    align-items: baseline;
  }
  .flex-end > *,
  .flex-start > * {
    flex: 0 1 auto;
  }
}


header .width-wrap,
.page-seperator,
section {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  /*
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  */
  }
}

section {
  margin-top: 3em;
  margin-bottom: 3em;
}
section, .page-seperator {
  margin-right: 10vw;
  margin-left: 10vw;
}
@media screen and (min-width: 1200px) {
  section, .page-seperator {
    margin-right: auto;
    margin-left: auto;
  }
}


.page-seperator hr {
  margin: 0;
  background-color: #C4251A;
}


.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
#home .overlay {
  color: white;
}
.overlay h1,
.overlay h2,
.overlay h3,
.overlay h4,
.overlay h5,
.overlay h6 {
  color: inherit;
  margin: 0;
}
#home .overlay {
  top: initial;
}
.teaserimage img {
  width: 100%;
}

figcaption {
  font-weight: 100;
  font-style: italic;
}
.subtext {
  font-size: 0.9em;
}
.two-col-text {
  column-count: 1;
}
@media screen and (min-width: 1200px) {
  .two-col-text {
    column-count: 2;
    column-gap: 2.5em;
  }
}

ul {
  list-style-position: outside;
  list-style-type: square;
}
ul li {
  margin-left: 1em;
}
#wolf-luedge {
  padding: 1px;
  background-color: #f1f1ee;
}
#natural-leadership .chapter .text {
  position: relative;
  z-index: 1;
}
#natural-leadership .chapter img {
  max-height: 400px;
}
#natural-leadership .chapter .title {
  position: relative;
}
#natural-leadership .chapter .title .counter {
  position: absolute;
  z-index: 0;
  left: -20px;
  top: 30px;
  font-size: 8em;
  color: #ecbd33;
}

